* {
	box-sizing: border-box;
}
.inline-container {
	width: 870px;
	height: 288px;
	.inline-product {
		display: flex;
		align-items: center;
		.img-div {
			height: 264px;
			width: 264px;
			border: 3px solid #f6f7f8;
			display: flex;
			flex-direction: column;

			.hot {
				width: 40px;
				height: 20px;
				background-color: #ff4858;
				border-radius: 2px;
				text-align: center;
				color: #ffffff;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translate(5px, 5px);
			}
			img {
				width: 236px;
				height: 153px;
				align-self: center;

				transform: translateY(30px);
			}
		}
		.info-div {
			width: 600px;
			height: 288px;
			padding: 0 0 0 10px;
		}
		.title-container {
			height: 78px;
			h4 {
				font-size: 24px;
				margin: 10px 0 15px 0;
			}
			.review-container {
				display: flex;
				margin-right: 5px;
				.rating-div {
					margin-right: 5px;
				}
				.review {
					color: #c1c8ce;
					margin-right: 5px;
				}
				.sub-review {
					color: #33a0ff;
					text-decoration: none;
				}
			}
		}
		.inline-bar {
			width: 470px;
			height: 2px;
			background-color: #f6f7f8;
		}
		.price-div {
			display: flex;
			font-size: 24px;
			height: 54px;

			.sale {
				color: #ff4858;
				margin-right: 10px;
			}
			.original {
				color: #c1c8ce;
				text-decoration: line-through #5d656b;
			}
			p {
				padding: 0;
				color: #262626;
				font-size: 14px;
			}
		}
		.buttons-inline {
			display: flex;
			.button-icon-text {
				width: 156px;
				height: 46px;
				margin-right: 10px;
			}
		}
	}
}
