button {
  color: white;
  border-radius: 2px;
  padding: 5px 25px;
}
.button-primary {
  background-color: #0069d9;
  border: #0069d9;
}
.button-primary:hover {
  background-color: #0265cf;
  border: #0265cf;
}
.button-warning {
  background-color: yellow;
  border: yellow;
  color: black;
}
.button-warning:hover {
  background-color: rgb(228, 171, 13);
  border: rgb(228, 171, 13);
}
.button-danger {
  background-color: red;
  border: red;
}
.button-danger:hover {
  background-color: rgb(201, 15, 15);
  border: rgb(201, 15, 15);
}
.button-success {
  background-color: green;
  border: green;
}
.button-success:hover {
  background-color: rgb(3, 99, 3);
  border: rgb(3, 99, 3);
}
.button-large {
  padding: 10px 50px;
}
.button-outline {
  border: 2px solid rgb(219, 19, 19);
}
