.button-container button {
  color: white;
  border-radius: 4px;
  padding: 5px 25px;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  height: 46px;
  font-size: 14px;
}

.button-container .button-primary {
  background-color: #33a0ff;
  border: 2px solid #33a0ff;
}

.button-container .button-primary.button-outline {
  background-color: transparent;
  color: #33a0ff;
  border: 2px solid #33a0ff;
}

.button-container .button-primary.button-outline:hover {
  color: #fff;
}

.button-container .button-primary.button-faded {
  background-color: rgba(51, 160, 255, 0.1);
  color: #33a0ff;
  border: none;
}

.button-container .button-primary.button-faded:hover {
  color: #fff;
  border: none;
}

.button-container .button-primary:hover {
  background-color: #2e90e5;
  border: 2px solid #2e90e5;
}

.button-container .button-danger {
  background-color: #ff4858;
  border: 2px solid #ff4858;
}

.button-container .button-danger.button-outline {
  background-color: transparent;
  color: #ff4858;
  border: 2px solid #ff4858;
}

.button-container .button-danger.button-outline:hover {
  color: #fff;
}

.button-container .button-danger.button-faded {
  background-color: rgba(255, 72, 88, 0.1);
  color: #ff4858;
  border: none;
}

.button-container .button-danger.button-faded:hover {
  color: #fff;
  border: none;
}

.button-container .button-danger:hover {
  background-color: #f53848;
  border: 2px solid #f53848;
}

.button-container .button-success {
  background-color: #0ad00a;
  border: 2px solid #0ad00a;
}

.button-container .button-success.button-outline {
  background-color: transparent;
  color: #0ad00a;
  border: 2px solid #0ad00a;
}

.button-container .button-success.button-outline:hover {
  color: #fff;
}

.button-container .button-success.button-faded {
  background-color: rgba(10, 208, 10, 0.1);
  color: #0ad00a;
  border: none;
}

.button-container .button-success.button-faded:hover {
  color: #fff;
  border: none;
}

.button-container .button-success:hover {
  background-color: #07c107;
  border: 2px solid #07c107;
}

.button-container .button-warning {
  background-color: #ffc600;
  border: 2px solid #ffc600;
  color: black;
}

.button-container .button-warning.button-outline {
  background-color: transparent;
  color: #ffc600;
  border: 2px solid #ffc600;
}

.button-container .button-warning.button-outline:hover {
  color: #22262a;
}

.button-container .button-warning.button-faded {
  background-color: rgba(255, 198, 0, 0.1);
  color: #ffc600;
  border: none;
}

.button-container .button-warning.button-faded:hover {
  color: #22262a;
  border: none;
}

.button-container .button-warning:hover {
  background-color: #ebb600;
  border: 2px solid #ebb600;
}

.button-container .button-default {
  background-color: #22262a;
  border: 2px solid #22262a;
}

.button-container .button-default.button-outline {
  background-color: transparent;
  color: #22262a;
  border: 2px solid #22262a;
}

.button-container .button-default.button-outline:hover {
  color: #fff;
}

.button-container .button-default.button-faded {
  background-color: rgba(34, 38, 42, 0.1);
  color: #22262a;
  border: none;
}

.button-container .button-default.button-faded:hover {
  color: #fff;
  border: none;
}

.button-container .button-default:hover {
  background-color: #13161a;
  border: 2px solid #13161a;
}

.button-container .button-large {
  padding: 10px 50px;
  height: 60px;
  font-size: 16px;
}

.button-container .button-icon {
  border: none;
  padding: none;
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 2px;
}

.button-container .button-icon img {
  width: 16px;
  height: 15px;
  padding: 0;
}

.button-container .button-icon:hover {
  border: none;
}

.button-container .button-icon-text img {
  padding-right: 6px;
}
/*# sourceMappingURL=Button.css.map */