$blue: #33a0ff;
$blue-hover: #2e90e5;
$red: #ff4858;
$red-hover: #f53848;
$green: #0ad00a;
$green-hover: #07c107;
$yellow: #ffc600;
$yellow-hover: #ebb600;
$black: #22262a;
$black-hover: #13161a;
.button-container {
	button {
		color: white;
		border-radius: 2px;
		padding: 5px 25px;
		transition: 200ms ease-in;
	}
	.button-primary {
		background-color: $blue;
		border: 2px solid $blue;
		&.button-outline {
			background-color: transparent;
			color: $blue;
			border: 2px solid $blue;
			&:hover {
				color: #fff;
			}
		}
		&.button-faded {
			background-color: rgba($color: $blue, $alpha: 0.1);
			color: $blue;
			border: none;
			&:hover {
				color: #fff;
				border: none;
			}
		}
	}

	.button-primary:hover {
		background-color: $blue-hover;
		border: 2px solid $blue-hover;
	}

	.button-danger {
		background-color: $red;
		border: 2px solid $red;
		&.button-outline {
			background-color: transparent;
			color: $red;
			border: 2px solid $red;
			&:hover {
				color: #fff;
			}
		}
		&.button-faded {
			background-color: rgba($color: $red, $alpha: 0.1);
			color: $red;
			border: none;
			&:hover {
				color: #fff;
				border: none;
			}
		}
	}

	.button-danger:hover {
		background-color: $red-hover;
		border: 2px solid $red-hover;
	}

	.button-success {
		background-color: $green;
		border: 2px solid $green;
		&.button-outline {
			background-color: transparent;
			color: $green;
			border: 2px solid $green;
			&:hover {
				color: #fff;
			}
		}
		&.button-faded {
			background-color: rgba($color: $green, $alpha: 0.1);
			color: $green;
			border: none;
			&:hover {
				color: #fff;
				border: none;
			}
		}
	}

	.button-success:hover {
		background-color: $green-hover;
		border: 2px solid $green-hover;
	}

	.button-warning {
		background-color: $yellow;
		border: 2px solid $yellow;
		color: black;
		&.button-outline {
			background-color: transparent;
			color: $yellow;
			border: 2px solid $yellow;
			&:hover {
				color: $black;
			}
		}
		&.button-faded {
			background-color: rgba($color: $yellow, $alpha: 0.1);
			color: $yellow;
			border: none;
			&:hover {
				color: $black;
				border: none;
			}
		}
	}

	.button-warning:hover {
		background-color: $yellow-hover;
		border: 2px solid $yellow-hover;
	}

	.button-default {
		background-color: $black;
		border: 2px solid $black;
		&.button-outline {
			background-color: transparent;
			color: $black;
			border: 2px solid $black;
			&:hover {
				color: #fff;
			}
		}
		&.button-faded {
			background-color: rgba($color: $black, $alpha: 0.1);
			color: $black;
			border: none;
			&:hover {
				color: #fff;
				border: none;
			}
		}
	}

	.button-default:hover {
		background-color: $black-hover;
		border: 2px solid $black-hover;
	}

	.button-large {
		padding: 10px 50px;
	}

	.button-icon {
		border: none;
		padding: none;
		width: 46px;
		height: 46px;
		padding: 0;
		border-radius: 2px;
		img {
			width: 16px;
			height: 15px;
			padding: 0;
		}
		&:hover {
			border: none;
		}
	}
}
