$blue: #33a0ff;
$blue-hover: #2e90e5;
button {
	color: white;
	border-radius: 2px;
	padding: 5px 25px;
}
.button-primary {
	background-color: $blue;
	border: $blue;
}
.button-primary:hover {
	background-color: $blue-hover;
	border: $blue-hover;
}
.button-warning {
	background-color: yellow;
	border: yellow;
	color: black;
}
.button-warning:hover {
	background-color: rgb(228, 171, 13);
	border: rgb(228, 171, 13);
}
.button-danger {
	background-color: red;
	border: red;
}
.button-danger:hover {
	background-color: rgb(201, 15, 15);
	border: rgb(201, 15, 15);
}
.button-success {
	background-color: green;
	border: green;
}
.button-success:hover {
	background-color: rgb(3, 99, 3);
	border: rgb(3, 99, 3);
}
.button-large {
	padding: 10px 50px;
}
