.checkbox {
	opacity: 0;

	width: 244px;
	height: 18px;
}
.checked-container {
	background-color: black;
	img {
		width: 18px;
		height: 18px;
	}
	input {
		width: 18px;
		height: 18px;
	}
}
.unchecked-container {
	border: 2px solid black;
	width: 244px;
	height: 18px;
}
