.block-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	width: 270px;
	height: 349px;
	text-align: center;
	background-color: transparent;
	transition: all 300ms ease-in;
	border: 3px solid #f6f7f8;
	.img-div {
		width: 236px;
		height: 153px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.info-div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.price-div {
		display: flex;
		text-align: center;
		justify-content: space-between;
		width: 86.5px;
		height: 16px;
	}
	.sale {
		color: #ff4858;
	}
	.original {
		color: #c1c8ce;
		text-decoration: line-through #5d656b;
	}
	.block-modal {
		position: fixed;
		height: 174.5px;
		width: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffffc9;
		visibility: hidden;
		opacity: 0%;
		.modal-div-container {
			display: flex;
		}
		.modal-div {
			margin: 2px;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 46px;
				height: 46px;
				padding: 3px 23px;
				border-radius: 100%;
				border: 2px solid #33a0ff;
				background-color: transparent;
				transition: background-color 200ms ease-in;
				&:hover {
					background-color: #33a0ff56;
				}

				img {
					height: 16px;
					width: 16px;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
	&:hover {
		.block-modal {
			visibility: visible;
			opacity: 100%;
		}
	}
	.bar {
		width: 230px;
		height: 1px;
		background-color: #f6f7f8;
	}
	&.gray {
		background-color: #fafafb;
		.bar {
			width: 230px;
			height: 1px;
			background-color: #70707065;
		}
	}
	&.row {
		width: 570px;
		height: 224px;
		flex-direction: row;
		align-items: center;
		h4 {
			width: 134px;
			font-size: 14px;
		}
		.block-product {
			transform: translate(24px, -15px);
			display: flex;

			justify-content: flex-start;
			.img-div {
			}
			.bar {
				display: none;
			}
		}
		.block-modal {
			width: 247px;
			height: 192px;
			transform: translate(15px, -18px);
		}
	}
}
.block-container {
	&.gray {
		button {
			background-color: #33a0ff;
		}
	}
}
